<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- END Top Navigation -->

  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <app-menu></app-menu>
  <!-- ============================================================== -->
  <!-- End Left Sidebar -->
  <!-- ============================================================== -->


  <!-- ============================================================== -->
  <!-- Page Content -->
  <!-- ============================================================== -->
  <div id="page-wrapper">
    <app-content></app-content>
    <app-footer></app-footer>
  </div>
  <!-- ============================================================== -->
  <!-- End Page Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
